@import "tailwindcss";
@import "tw-animate-css";

/* @custom-variant dark (&:is(.dark *)); */

:root {
  --white: #f9fafb;
  --black: #171717;
  --accent: #1e7eff;
  --dark-gray: #20252d;
  --gray: #6b7280;
  --success: #10b981;
  --error: #ff5c5e;
}

@theme inline {
  --color-background: var(--white);
  --color-foreground: var(--black);
  --font-sans: var(--font-poppins);
}

@media (prefers-color-scheme: light) {
  :root {
    --color-background: var(--black);
    --color-foreground: var(--white);
    --font-sans: var(--font-poppins);
  }
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: Poppins, Helvetica, sans-serif;
}
