@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --white: #f9fafb;
  --black: #0e1116;
  --accent: #1e7eff;
  --dark-gray: #6b7280;
  --neutral-gray: hsl(220, 9%, 46%, 20%);
  --success: #10b981;
  --danger: #ff5c5e;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--black);
    --color-foreground: var(--white);
    --font-sans: var(--font-poppins);
  }
}

.light {
  --color-background: var(--white);
  --color-foreground: var(--black);
  --font-sans: var(--font-poppins);
}

.dark {
  --color-background: var(--black);
  --color-foreground: var(--white);
  --font-sans: var(--font-poppins);
  &::selection {
    background: var(--accent);
    color: var(--white);
  }
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: Poppins, Helvetica, sans-serif;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100vh;
  overscroll-behavior: none;
}

@layer base {
  html {
    @apply h-screen flex flex-col;
  }

  .page-container {
    @apply flex-1 overflow-hidden flex flex-col;
  }
}

@layer components {
  .nav-link {
    @apply w-[75px] flex items-center justify-center text-(--black) dark:text-(--white) dark:hover:text-(--white)/30 hover:text-(--black)/30 transition-colors duration-200 cursor-pointer;
  }

  .nav-link.active {
    @apply font-semibold;
  }

  .base-button {
    @apply px-4 py-2 rounded-[5px] transition-colors duration-200 cursor-pointer select-none;
  }

  .button-primary {
    @apply bg-(--accent) text-(--white) hover:bg-(--accent)/80;
  }

  .button-secondary {
    @apply bg-(--neutral-gray) text-(--black) dark:bg-(--dark-gray) dark:text-(--white) hover:bg-(--neutral-gray)/80 dark:hover:bg-(--dark-gray)/80 transition-colors duration-200 cursor-pointer;
  }

  .button-success {
    @apply bg-(--success) text-(--white) hover:bg-(--success)/80;
  }

  .button-danger {
    @apply bg-(--danger) text-(--white) hover:bg-(--danger)/80;
  }

  .button-disabled {
    @apply bg-(--neutral-gray) text-(--black) dark:bg-(--dark-gray) dark:text-(--white) cursor-not-allowed opacity-50;
  }
}
